body {
    margin: 0;
    padding: 0;
}
#root {
  background-color: #0C0C0C;
  color: #C0C0C0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
main {
    flex: 1;
}
header, footer {
    background-color: #0C0C0C;
}
footer {
    color:#d1d1d1;
}
.navbar-brand {
    color: snow;
}
.nav-item {
    min-width: 130px;
}
.nav-link i {
    font-size: 1.75em;
    margin-right: .25em;
}
.nav-search {
    background-color: #1d1d1d;
}